:root {
    --ld-color: #2196f3;
}

.section-contact {
    height: 20vh;
    &--int {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
