.resume.loisir {
  width: 800px;
  display: flex;
  margin: 50px auto;
}
@media screen and (min-width: 800px) {
  .resume.loisir {
    height: 60vh;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .resume.loisir {
    padding-left: 100px;
    flex-direction: column;
    width: initial !important;
  }
}
.resume.loisir .rounded-menu {
  background-color: #ff17d8;
}
.resume.loisir .resume_right .bold {
  color: #ff17d8;
}
.resume.loisir .title {
  margin-bottom: 20px;
}
.resume.loisir .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid rgba(255, 162, 23, 0.2509803922);
}
.resume.loisir .resume_right {
  width: 520px;
  background: #000;
  padding: 25px;
}
.resume.loisir .resume_right .resume_item:last-child {
  border-bottom: 0px;
}
.resume.loisir .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}
.resume.loisir .resume_right .resume_hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid #ff17d8;
  border-radius: 50%;
  position: relative;
  color: #ff17d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume.loisir .resume_right .resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  right: -52px;
  width: 50px;
  height: 2px;
  background: #ff17d8;
}
@media screen and (max-width: 800px) {
  .resume.loisir .resume_right .resume_hobby ul li:before {
    content: initial;
  }
}
.resume.loisir .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}
.resume.loisir .resume_right .resume_hobby ul li .item-hobby {
  font-size: 2rem;
}
@media screen and (max-width: 800px) {
  .resume.loisir .resume_right .resume_hobby ul {
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (max-width: 800px) {
  .resume.loisir .resume_right {
    width: initial !important;
  }
}
.resume.loisir .resume_right .bold {
  color: #ff17d8;
}
.resume.loisir .resume_right .resume_work ul {
  padding-left: 40px;
  overflow: hidden;
}
.resume.loisir .resume_right .resume_work ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #ff17d8;
}
.resume.loisir .resume_right .resume_work ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 90%;
  background: #ff17d8;
}
.resume.loisir .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}
.resume.loisir .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #ff17d8;
}
.resume.loisir .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 85%;
  background: #ff17d8;
}
.resume.loisir .resume_right ul li {
  position: relative;
  margin-top: 35px;
}
.resume.loisir .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.resume.loisir .resume_right ul li .info {
  text-transform: uppercase;
}
.resume.loisir .resume_right ul li .detail-info {
  line-height: 1.6;
  padding-top: 3px;
  font-size: 14px;
}
.resume.loisir .resume_right ul li .address {
  color: gray;
  font-size: 13px;
}
.resume.loisir .resume_right ul li:last-child .info {
  margin-bottom: 0;
}
.resume.loisir .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.download {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff; /* Couleur de fond du bouton */
  border: 1px solid #666;
  border-radius: 50%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff; /* Couleur de fond du bouton */
  border: 1px solid #666;
  border-radius: 50%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail svg {
  width: 29px;
  padding-top: 5px;
}/*# sourceMappingURL=loisir.css.map */